#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FFF;
}

.app_container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Opcional: Establece una altura completa para la aplicación */
}

.main_content {
  margin-top: 70px; /* Ajusta este valor según la altura de tu Navbar */
  /* padding-top: 20px;  */
  /* Opcional: Si prefieres relleno en lugar de margen */
  flex: 1; /* Asegura que el contenido principal ocupe todo el espacio restante */
}

::-webkit-scrollbar {
  width: .5rem; /* Ancho de la barra de desplazamiento vertical */
  height: 3px;  /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #58D68D; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 1rem;       /* Radio del borde del pulgar */
}

::-webkit-scrollbar-track {
  background-color: #000;    /* Color de la pista de la barra de desplazamiento */
  border-radius: 1rem;       /* Radio del borde de la pista */
}

@font-face {
  font-family: 'munayTitle';
  src: url('component/Fonts/BatangasBold700.otf') format('opentype');
}

@media (max-width: 660px) {
  .main_content {
    margin-top: 60px; /* Ajusta este valor según la altura de tu Navbar */
    /* padding-top: 20px;  */
    /* Opcional: Si prefieres relleno en lugar de margen */
    flex: 1; /* Asegura que el contenido principal ocupe todo el espacio restante */
  }
}